.general-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 200px;

  @media (max-width:426px) {
    margin-top: 100px;
  }

  .title {
    @extend %extend-title;
  }

  .container {
    display: flex;
    flex-direction: column;

    @media (max-width:886px) {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 1rem;
    }

    .graph-block {
      margin: 160px 0 0 5rem;

      @media (max-width:886px) {
        width: auto;
        margin-left: 0;
      }

      @media (max-width:426px) {
        margin-top: 40px;
      }

      img {

        @media (max-width:769px) {
          width: 100%;
          height: 100%;
        }

        @media (max-width:426px) {
          display: none;
        }

        &.mobile-circle {
          display: none;

          @media (max-width:426px) {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }

  .projects-container {
    width: 100%;
    margin-top: 186px;
    display: flex;
    flex-direction: column;

    .projecs-inner-container {
      margin: 100px auto 0 auto;
      // position: absolute;
      // width: 900px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px 0;
      // left: 20%;
      // transform: rotate(48.21deg);

      @media (max-width:1441px) {
        width: auto;
        transform: none;
        margin-top: 100px;
      }

      @media (max-width:1224px) {
        position: static;
        padding: 0 1rem;
      }

      @media (max-width:769px) {
        padding: 0;
        margin: 60px 0 0 0;
      }

      .projects-wrapper {
        display: flex;
        justify-content: end;
        gap: 20px;

        @media (max-width:850px) {
          display: none;
        }

        &:first-child {
          align-items: end;
          width: 100%;
        }

        &:nth-child(2) {
          a {
            &:first-child {
              .project-block {
                border: 4px solid #bdbdbd;
              }
            }
          }
        }

        &:nth-child(3) {
          justify-content: flex-start;

          a {
            &:last-child {
              .project-block {
                border: 4px solid $color-yellow;
              }
            }
          }
        }

        &:nth-child(4) {
          width: 100%;
          justify-content: flex-start;
        }


        a {
          display: block;

          .project-block {
            width: 265px;
            height: 265px;
            border-radius: 20px;
            overflow: hidden;
            transition: 0.3s;

            &:hover {
              transform: scale(1.1);
            }
          }

          img {
            width: 100%;
            height: 100%;
            border-radius: 20px;
            object-fit: cover;
          }
        }
      }

      .swiper {
        width: 100%;
        height: 100%;
        display: none;

        @media (max-width:850px) {
          display: block;
          padding-left: 1rem;
        }

        @media (max-width:450px) {
          padding: 0;
        }

        .swiper-slide {
          text-align: center;
          font-size: 18px;
          background: #fff;

          /* Center slide text vertically */
          display: -webkit-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          -webkit-justify-content: center;
          justify-content: center;
          -webkit-box-align: center;
          -ms-flex-align: center;
          -webkit-align-items: center;
          align-items: center;


          a {
            display: block;

            img {
              display: block;
              width: 235px;
              width: 100%;
              height: 235px;
              object-fit: cover;
              border-radius: 20px;

              @media (max-width:426px) {
                width: 300px;
                height: 200px;
              }
            }

          }
        }
      }


    }
  }

  .team-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;

    .team-cards-wrapper {
      width: 1124px;
      display: flex;
      justify-content: space-between;
      margin-top: 80px;

      @media (max-width:1200px) {
        width: auto;
        flex-wrap: wrap;
        gap: 44px 0;
      }

      @media (max-width:769px) {
        justify-content: center;
      }

      .team-card {
        width: 321px;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 44px 0;

        @media (max-width:426px) {
          width: auto;
        }

        .card-footer {
          text-align: center;

          h2 {
            font-size: 27px;
            font-weight: 400px;

            @media (max-width:376px) {
              font-size: 25px;
            }
          }

          p {
            font-size: 20px;
            font-weight: 400;
            margin-top: 14px;

            @media (max-width:376px) {
              font-size: 18px;
            }
          }
        }
      }
    }
  }

}