@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Audiowide", cursive;
}

body {
  scroll-behavior: smooth;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

.general-container .title {
  text-align: center;
  font-size: 40px;
  font-weight: 400;
  color: #6EA2C9;
}
@media (max-width: 426px) {
  .general-container .title {
    font-size: 38px;
  }
}

.nav {
  width: 100%;
  height: 146px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 2.75rem;
  padding-left: 4.625rem;
}
@media (max-width: 950px) {
  .nav {
    padding: 12px 2rem;
    height: 80px;
  }
}
@media (max-width: 426px) {
  .nav {
    padding: 0 1rem;
  }
}
@media (max-width: 950px) {
  .nav a img {
    width: 80px;
  }
}
@media (max-width: 426px) {
  .nav a img {
    width: 65px;
  }
}
.nav .nav-list-block {
  display: flex;
  gap: 57px;
}
@media (max-width: 950px) {
  .nav .nav-list-block {
    display: none;
  }
}
.nav .nav-list-block .nav-list {
  display: flex;
  align-items: center;
  gap: 50px;
}
.nav .nav-list-block .nav-list li {
  padding: 10px 29px;
}
.nav .nav-list-block .nav-list li a {
  color: #4f4f4f;
  font-size: 20px;
  font-weight: 400;
  display: block;
  transition: 0.3s;
}
.nav .nav-list-block .nav-list li a:hover {
  color: #F2C94C;
}
.nav .nav-list-block .nav-btn {
  width: 180px;
  padding: 10px 29px;
  background: #F2C94C;
  border-radius: 10px;
  border: 0;
  cursor: pointer;
  transition: 0.3s;
  color: #FFFFFF;
  font-size: 20px;
  font-weight: 400;
}
.nav .nav-list-block .nav-btn:hover {
  opacity: 0.8;
}
.nav .burger {
  display: none;
}
@media (max-width: 950px) {
  .nav .burger {
    display: block;
  }
}
@media (max-width: 426px) {
  .nav .burger img {
    width: 25px;
  }
}

.mobile-wrapper {
  width: 239px;
  height: 320px;
  display: none;
  position: fixed;
  background-color: #6EA2C9;
  top: 0;
  right: -50%;
  transform: translate(50%);
  padding-top: 1rem;
  border-radius: 0px 0px 0px 15px;
  transition: 0.3s;
  z-index: 2;
}
.mobile-wrapper.active {
  right: 0;
  transform: translate(0%);
}
.mobile-wrapper .close-block {
  padding-right: 1.75rem;
}
.mobile-wrapper .close-block .close-img {
  width: 20px;
}
@media (max-width: 950px) {
  .mobile-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}
.mobile-wrapper .mobile-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 24px;
}
.mobile-wrapper .mobile-list li {
  text-align: center;
  width: 100%;
  padding: 10px 29px;
  background-color: #85BFEB;
}
.mobile-wrapper .mobile-list li a {
  color: white;
  font-size: 20px;
}
.mobile-wrapper .mobile-list li.mobile-btn {
  background-color: #F2C94C;
}

.header-banner {
  width: 1440px;
  height: 510px;
  display: flex;
  justify-content: space-between;
  padding: 2rem 4rem;
  margin: 0 auto;
}
@media (max-width: 1441px) {
  .header-banner {
    width: 100%;
    justify-content: space-around;
  }
}
@media (max-width: 1200px) {
  .header-banner {
    flex-direction: column-reverse;
    height: auto;
    align-items: center;
    gap: 60px;
    padding: 0 4rem;
    margin-top: 60px;
  }
}
@media (max-width: 769px) {
  .header-banner {
    padding: 0;
  }
}
.header-banner .header-banner-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 52px;
}
@media (max-width: 426px) {
  .header-banner .header-banner-content {
    width: 100%;
    padding: 0 1rem;
  }
}
.header-banner .header-banner-content .content-inner {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media (max-width: 426px) {
  .header-banner .header-banner-content .content-inner {
    gap: 20px;
  }
}
.header-banner .header-banner-content .content-inner h1 {
  font-size: 40px;
  font-weight: 400;
}
@media (max-width: 426px) {
  .header-banner .header-banner-content .content-inner h1 {
    font-size: 30px;
  }
}
.header-banner .header-banner-content .content-inner h1:last-child {
  font-size: 48px;
  margin-left: 40px;
}
@media (max-width: 426px) {
  .header-banner .header-banner-content .content-inner h1:last-child {
    font-size: 38px;
  }
}
.header-banner .header-banner-content .header-banner-btn {
  width: 291px;
  background-color: #6EA2C9;
  color: #FFFFFF;
  padding: 10px 24px;
  border-radius: 15px;
  border: 0;
  cursor: pointer;
  font-size: 24px;
  transition: 0.3s;
}
.header-banner .header-banner-content .header-banner-btn:hover {
  opacity: 0.8;
}
@media (max-width: 769px) {
  .header-banner .header-banner-content .header-banner-btn {
    width: auto;
  }
}
.header-banner .banner-rectangles {
  height: auto;
  display: flex;
  align-items: center;
}
@media (max-width: 769px) {
  .header-banner .banner-rectangles {
    width: 341px;
    height: 271px;
    position: relative;
    justify-content: center;
  }
}
@media (max-width: 342px) {
  .header-banner .banner-rectangles {
    width: 100%;
  }
}
.header-banner .banner-rectangles .yellow-rectangle {
  width: 270px;
  height: 270px;
  background-color: transparent;
  border: 5px solid #F2C94C;
  border-radius: 40px;
  transform: rotate(-49.58deg);
}
@media (max-width: 769px) {
  .header-banner .banner-rectangles .yellow-rectangle {
    width: 190px;
    height: 190px;
    position: absolute;
    left: 0;
  }
}
@media (max-width: 500px) {
  .header-banner .banner-rectangles .yellow-rectangle {
    border-width: 2.5px;
  }
}
@media (max-width: 386px) {
  .header-banner .banner-rectangles .yellow-rectangle {
    left: 30px;
  }
}
@media (max-width: 321px) {
  .header-banner .banner-rectangles .yellow-rectangle {
    width: 140px;
    height: 140px;
    border-radius: 18px;
  }
}
.header-banner .banner-rectangles .blue-rectangle {
  width: 358px;
  height: 358px;
  background-color: transparent;
  border: 5px solid #6EA2C9;
  border-radius: 40px;
  transform: rotate(-49.58deg);
  padding: 1rem;
}
@media (max-width: 769px) {
  .header-banner .banner-rectangles .blue-rectangle {
    width: 250px;
    height: 250px;
    position: absolute;
    right: 0;
  }
}
@media (max-width: 500px) {
  .header-banner .banner-rectangles .blue-rectangle {
    width: 230px;
    height: 230px;
    padding: 8px;
    border-width: 2.5px;
    right: 30px;
  }
}
@media (max-width: 321px) {
  .header-banner .banner-rectangles .blue-rectangle {
    width: 190px;
    height: 190px;
    right: 40px;
    border-radius: 22px;
  }
}
.header-banner .banner-rectangles .blue-rectangle .blue-inner-rectangle {
  width: 100%;
  height: 100%;
  background-color: #6EA2C9;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-banner .banner-rectangles .blue-rectangle .blue-inner-rectangle img {
  width: 80%;
  border-radius: 20px;
}
@media (max-width: 500px) {
  .header-banner .banner-rectangles .blue-rectangle .blue-inner-rectangle img {
    width: 75%;
  }
}

.general-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 200px;
}
@media (max-width: 426px) {
  .general-container {
    margin-top: 100px;
  }
}
.general-container .container {
  display: flex;
  flex-direction: column;
}
@media (max-width: 886px) {
  .general-container .container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
  }
}
.general-container .container .graph-block {
  margin: 160px 0 0 5rem;
}
@media (max-width: 886px) {
  .general-container .container .graph-block {
    width: auto;
    margin-left: 0;
  }
}
@media (max-width: 426px) {
  .general-container .container .graph-block {
    margin-top: 40px;
  }
}
@media (max-width: 769px) {
  .general-container .container .graph-block img {
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 426px) {
  .general-container .container .graph-block img {
    display: none;
  }
}
.general-container .container .graph-block img.mobile-circle {
  display: none;
}
@media (max-width: 426px) {
  .general-container .container .graph-block img.mobile-circle {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.general-container .projects-container {
  width: 100%;
  margin-top: 186px;
  display: flex;
  flex-direction: column;
}
.general-container .projects-container .projecs-inner-container {
  margin: 100px auto 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px 0;
  transform: rotate(48.21deg);
}
@media (max-width: 1441px) {
  .general-container .projects-container .projecs-inner-container {
    width: auto;
    transform: none;
    margin-top: 100px;
  }
}
@media (max-width: 1224px) {
  .general-container .projects-container .projecs-inner-container {
    position: static;
    padding: 0 1rem;
  }
}
@media (max-width: 769px) {
  .general-container .projects-container .projecs-inner-container {
    padding: 0;
    margin: 60px 0 0 0;
  }
}
.general-container .projects-container .projecs-inner-container .projects-wrapper {
  display: flex;
  justify-content: end;
  gap: 20px;
}
@media (max-width: 850px) {
  .general-container .projects-container .projecs-inner-container .projects-wrapper {
    display: none;
  }
}
.general-container .projects-container .projecs-inner-container .projects-wrapper:first-child {
  align-items: end;
  width: 100%;
}
.general-container .projects-container .projecs-inner-container .projects-wrapper:nth-child(2) a:first-child .project-block {
  border: 4px solid #bdbdbd;
}
.general-container .projects-container .projecs-inner-container .projects-wrapper:nth-child(3) {
  justify-content: flex-start;
}
.general-container .projects-container .projecs-inner-container .projects-wrapper:nth-child(3) a:last-child .project-block {
  border: 4px solid #F2C94C;
}
.general-container .projects-container .projecs-inner-container .projects-wrapper:nth-child(4) {
  width: 100%;
  justify-content: flex-start;
}
.general-container .projects-container .projecs-inner-container .projects-wrapper a {
  display: block;
}
.general-container .projects-container .projecs-inner-container .projects-wrapper a .project-block {
  width: 265px;
  height: 265px;
  border-radius: 20px;
  overflow: hidden;
  transition: 0.3s;
}
.general-container .projects-container .projecs-inner-container .projects-wrapper a .project-block:hover {
  transform: scale(1.1);
}
.general-container .projects-container .projecs-inner-container .projects-wrapper a img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: cover;
}
.general-container .projects-container .projecs-inner-container .swiper {
  width: 100%;
  height: 100%;
  display: none;
}
@media (max-width: 850px) {
  .general-container .projects-container .projecs-inner-container .swiper {
    display: block;
    padding-left: 1rem;
  }
}
@media (max-width: 450px) {
  .general-container .projects-container .projecs-inner-container .swiper {
    padding: 0;
  }
}
.general-container .projects-container .projecs-inner-container .swiper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.general-container .projects-container .projecs-inner-container .swiper .swiper-slide a {
  display: block;
}
.general-container .projects-container .projecs-inner-container .swiper .swiper-slide a img {
  display: block;
  width: 235px;
  width: 100%;
  height: 235px;
  object-fit: cover;
  border-radius: 20px;
}
@media (max-width: 426px) {
  .general-container .projects-container .projecs-inner-container .swiper .swiper-slide a img {
    width: 300px;
    height: 200px;
  }
}
.general-container .team-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
}
.general-container .team-container .team-cards-wrapper {
  width: 1124px;
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
}
@media (max-width: 1200px) {
  .general-container .team-container .team-cards-wrapper {
    width: auto;
    flex-wrap: wrap;
    gap: 44px 0;
  }
}
@media (max-width: 769px) {
  .general-container .team-container .team-cards-wrapper {
    justify-content: center;
  }
}
.general-container .team-container .team-cards-wrapper .team-card {
  width: 321px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 44px 0;
}
@media (max-width: 426px) {
  .general-container .team-container .team-cards-wrapper .team-card {
    width: auto;
  }
}
.general-container .team-container .team-cards-wrapper .team-card .card-footer {
  text-align: center;
}
.general-container .team-container .team-cards-wrapper .team-card .card-footer h2 {
  font-size: 27px;
  font-weight: 400px;
}
@media (max-width: 376px) {
  .general-container .team-container .team-cards-wrapper .team-card .card-footer h2 {
    font-size: 25px;
  }
}
.general-container .team-container .team-cards-wrapper .team-card .card-footer p {
  font-size: 20px;
  font-weight: 400;
  margin-top: 14px;
}
@media (max-width: 376px) {
  .general-container .team-container .team-cards-wrapper .team-card .card-footer p {
    font-size: 18px;
  }
}

/*# sourceMappingURL=style.css.map */
